<form action="/photos/upload" enctype="multipart/form-data">
  <legend>upload photo file</legend>
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile">
  <input type="submit" value="upload">
</form>
<form action="/works/create" method="POST">
  <legend>add photo</legend>
  <label for="title">title</label>
  <input name="title" type="text">
  <br>
  <label for="desc">description</label>
  <input name="desc" type="text">
  <br>

  <br>
  <input type="submit" value="submit">
</form>