<div class="row">
  <div class="col-md-12">
    <h1>list photos</h1>
  </div>
</div>

<div class="row">
  {{#each photos}}
  <div class="col-md-2 card">
    <div class="card-body">
      <img class="img-fluid" src="{{this.url}}" alt="{{this.title}}" title="{{this.title}}" style="height: 200px;">
    </div>

  </div>
  {{/each}}
</div>