<div class="row justify-content-md-center">
  <div class="col-md-6">
    <form action="/works/{{work_id}}/photos/create" method="POST" enctype="multipart/form-data">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" name="title" placeholder="photo title">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="caption" placeholder="photo caption">
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01"> photo</span>
        </div>
        <div class="custom-file">
          <input type="file" name="image" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <input class="form-control" type="hidden" name="work_id" value="{{work_id}}">
      <input class="form-control" type="hidden" name="work_title" value="{{work_title}}">
      <div class="form-group">
        <button class="btn btn-primary">save</button>
      </div>
    </form>
  </div>
</div>