  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{title}}</h1>
  <div class="row">
    <form class="col s12 m6 offset-m3">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="name" type="text" class="validate">
          <label for="first_name">title of work</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">sculpture</option>
              <option value="2">painting</option>
              <option value="3">drawing</option>
            </select>
            <label>modality</label>
          </div>
        </div>
        <div class="input-field col s6">
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">bronze</option>
              <option value="2">marble</option>
              <option value="3">clay</option>
            </select>
            <label>material</label>
          </div> 
        </div>        
      </div>

    </form>
  </div>      
    </div>
  </div>