  <ul id="dropdown1" class="dropdown-content">
  <li><a href="/works">works</a></li>
  <li><a href="/works/create">add work</a></li>
</ul>
  <ul id="dropdown2" class="dropdown-content">
  <li><a href="/photos">photos</a></li>
  <li><a href="/photos/create">add photo</a></li>
</ul>
  <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">btm admin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
              <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">work<i class="material-icons right">arrow_drop_down</i></a></li>
              <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">photos<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>