<header>
  <nav>

    <a href="/">home</a> &nbsp;|&nbsp;
    <a href="/works">works</a> &nbsp;|&nbsp;
    <a href="/works/create">add work</a> &nbsp;|&nbsp;
    <a href="/photos">photos</a> &nbsp;|&nbsp;
    <a href="/photos/create">add photo</a> &nbsp;|&nbsp;
    <a href="/users/register">register</a> &nbsp;|&nbsp;
    <a href="/users/logout">logout</a>



    {{!-- <a href="/users/login">login</a> --}}








  </nav>
</header>