body {
  max-width: 800px;
  margin: 0 auto;
}

nav {
  text-align: center;
  padding-top: 15px;
}

hr {
  margin-bottom: 25px;
}

#form_signin {
  max-width: 200px;
  margin: 50px auto auto auto;
  border: 1px solid gray;
  padding: 15px;
}

form > input {
  margin-bottom: 10px;
  width: 100%;
}

form > input[type='submit'] {
  background-color: slategray;
  color: white;
  line-height: 2.5;
}

legend {
  margin-bottom: 15px;
  text-align: center;
}

.alert {
  border: 1px dotted;
  padding: 5px;
  margin-bottom: 5px;
}

.alert-success {
  color: green;
  border-color: green;
}

.alert-danger {
  color: indianred;
  border-color: indianred;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  text-align: center;
}

img.work-detail {
  height: 200px;
  width: auto;
}