<form action="/users/login" method="POST">
  <legend>login</legend>
  <label for="email">email</label>
  <input name="email" type="email">
  <br>
  <label for="password">password</label>
  <input name="password" type="password">
  <br>
  <input type="submit" value="submit">
</form>