<!doctype html>
<html lang="en">
{{> _head}}

<body>
  <div>
    {{> _navbar}}
    <hr>
    {{> _msg}}
    {{> _err}}
    <main>
      {{{body}}}
    </main>
  </div>
  {{> _footer}}

  {{> _scripts}}

</body>

</html>