<!doctype html>
<html lang="en">
{{> _head}}

<body>
  <div class="page-wrap">
    {{#if user}}
    {{> _navbar}}
    {{/if}}
    <main class="container-fluid">
      {{> _msg}}
      {{> _err}}

      {{{body}}}
    </main>
  </div>
  {{> _footer}}

  {{> _scripts}}

</body>

</html>